{% load static %}
{% load icon %}

<section class="post-interface px-4 py-3 bg-light-2 rounded {{ additional_classes }}">
    <div class="post-header d-flex flex-row justify-content-between pb-3">
        <div class="d-flex flex-row align-items-center">
            <a href="{% url "users.show" post.user.username %}" class="link-block">
                {% include 'accounts/components/user-profile-avatar-wrapper.html' with user=post.user %}
            </a>

            <span class="ps-2">{{ post.formatted_created_at }}</span>
        </div>

        {% if post.user == request.user %}
            <div class="dropdown d-flex flex-row text-end">
                <a
                    href="#"
                    class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle btn py-1 px-2 remove-dropdown-icon"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >{% icon "more-horizontal" %}</a>

                <ul class="dropdown-menu dropdown-menu-end mt-1 text-small">
                    <li>
                        <form action="{% url "posts.destroy" post.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn dropdown-item d-inline-flex flex-row">
                                <span class="d-flex flex-row align-self-center pe-1">
                                    {% icon "trash-2" height="18" width="18" %}
                                </span>
                                <span>Delete</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="post-content overflow-hidden ratio ratio-1x1">
        <div class="content-container position-relative w-100 h-100">
            <img
                class="w-100 h-100 object-fit-contain rounded-5"
                src="{{ post.image.url }}"
                alt="{{ post.user.get_full_name }}"
            />

            <div class="post-message position-absolute bottom-0 start-50 translate-middle-x mb-4 blur-bg">
                <span
                    class="badge px-3 py-2 rounded-pill bg-light bg-opacity-50 text-white fs-7 fw-normal"
                >{{ post.description }}</span>
            </div>
        </div>
    </div>

    <footer class="post-footer">
        {% if post.user == request.user %}
            {% if 1 %}  <!-- # TODO : post.reactions.count -->
                <div class="d-flex flex-row justify-content-center align-items-center mt-4 mb-3">
                    <span class="d-flex flex-row align-self-center pe-1">
                        {% icon "loader" height="18" width="18" %}
                    </span>
                    <span>No activity yet!</span>
                </div>
            {% else %}
                <p class="mt-4 mb-3 fs-7 text-center">You have <b>0</b> reactions on your photo</p>
            {% endif %}
        {% else %}
            <input
                id="send_message_{{ post.id }}"
                name="send_message"
                type="text"
                class="form-control px-3 py-2 mt-3 rounded-5 fs-7"
                placeholder="Send message..."
            />
        {% endif %}
    </footer>
</section>