{% load static %}
{% load icon %}

<section class="post-interface px-4 py-3 mb-4 bg-light-2 rounded">
    <div class="post-header d-flex flex-row justify-content-between pb-3">
        <div class="d-flex flex-row align-items-center">
            <a href="{% url "user-profile" post.user.id %}" class="link-block">
                {% include 'accounts/components/user-initials.html' with user=post.user %}
            </a>

            <span class="ps-2">{{ post.created_at }}</span>
        </div>

        {# # TODO #}
        <!-- Options menu, if needed -->
        {#        <button class="options-menu">...</button>#}
        <span>
            {% icon "more-horizontal" %}
        </span>
    </div>
    <div class="post-content overflow-hidden ratio ratio-1x1">
        <div class="content-container position-relative w-100 h-100">
            <img
                class="w-100 h-100 object-fit-contain rounded-5"
                src="{{ post.image_url }}"
                alt="Placeholder">
            <div class="message position-absolute bottom-0 start-50 translate-middle-x mb-4 blur-bg">
                <span
                    class="badge px-3 py-2 rounded-pill bg-light bg-opacity-50 text-white fs-7 fw-normal"
                >{{ post.description }}</span>
            </div>
        </div>
    </div>

    <footer class="post-footer">
        {% include "friendlify/components/elements/input.html" with id="send_message" name="send_message" type="text" placeholder="Send message..."  class="form-control px-3 py-2 mt-3 rounded-5 fs-7" %}
    </footer>
</section>