<!doctype html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Friendlify</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
</head>
<body>
    {% include "friendlify/components/header.html" %}
    {% include "friendlify/components/notifications.html" %}

    {% block content %}
    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{% static "js/friendlify/index.js" %}"></script>
    <script src="{% static "js/posts/index.js" %}"></script>
    <script src="{% static "js/posts/photobooth.js" %}"></script>
</body>
</html>