@import url("https://fonts.cdnfonts.com/css/roboto");

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, "sans-serif";
}

.w-fit-content {
    width: fit-content;
}

.p-4-5 {
    padding: 32px;
}

.pt-4-5 {
    padding-top: 32px;
}

.pr-4-5 {
    padding-right: 32px;
}

.pb-4-5 {
    padding-bottom: 32px;
}

.pl-4-5 {
    padding-left: 32px;
}


.m-4-5 {
    margin: 32px;
}

.mt-4-5 {
    margin-top: 32px;
}

.mr-4-5 {
    margin-right: 32px;
}

.mb-4-5 {
    margin-bottom: 32px;
}

.ml-4-5 {
    margin-left: 32px;
}

.link-underline-hover {
    text-decoration: none;
}

.link-underline-hover:hover {
    text-decoration: underline;
    cursor: pointer;
}

a.link-block,
a.link-block:hover,
a.link-block:focus,
a.link-block:active {
    text-decoration: none;
    color: inherit;
}

a.link-block:hover .hoverable-text {
    text-decoration: underline;
}

a.link-block .hoverable-block {
    border: 1px solid transparent;
}

a.link-block:hover .hoverable-block {
    border: 1px solid;
}

.bg-light-2 {
    background: #EBECED;
}

.fs-7 {
    font-size: 0.875rem !important
}

.fs-8 {
    font-size: 0.75rem !important
}

.ratio::before {
    content: none;
}

.blur-bg {
    backdrop-filter: blur(5px);
}

.mh-512 {
    max-height: 512px;
}

.post-interface {
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}
