@import url("https://fonts.cdnfonts.com/css/roboto");

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, "sans-serif";
}

.w-fit-content {
    width: fit-content;
}

.w-max-content {
    width: max-content;
}

.p-4-5 {
    padding: 32px;
}

.py-4-5 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.ms-4-5 {
    margin-right: 32px;
}

.mb-4-5 {
    margin-bottom: 32px;
}

.me-4-5 {
    margin-left: 32px;
}

.link-underline-hover {
    text-decoration: none;
}

.link-underline-hover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link-block,
.link-block:hover,
.link-block:focus,
.link-block:active {
    text-decoration: none;
    color: inherit;
}

.link-block:hover .hoverable-text {
    cursor: pointer;
    text-decoration: underline;
}

.link-block .hoverable-block {
    cursor: pointer;
    border: 1px solid transparent;
}

.link-block:hover .hoverable-block {
    border: 1px solid;
}

.bg-light-2 {
    background: #EBECED;
}

.fs-7 {
    font-size: 0.875rem !important
}

.fs-8 {
    font-size: 0.75rem !important
}

.ratio::before {
    content: none;
}

.blur-bg {
    backdrop-filter: blur(5px);
}

a.nav-link.active {
    font-weight: bold;
}

a.nav-link:hover {
    background: #EBECED !important;
}


.mh-512 {
    max-height: 512px;
}

.sticky-top {
    z-index: 1050;
}

.h-fit-content {
    height: fit-content;
}

.user-avatar.small-avatar .adaptive-font span {
    font-size: 1vw;
}

.user-avatar.large-avatar .adaptive-font span {
    font-size: 4vw;
}


.post-interface {
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.image-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.875rem;
}

#video, #capturedPhoto {
    width: 466px;
    height: 466px;
    object-fit: cover;
}

#video {
    transform: scaleX(-1);
}


.post-message {
    width: min-content;
    min-width: fit-content;
}

#post_message::placeholder {
    color: white;
    opacity: 1;
}

#post_message:focus {
    box-shadow: none;
    border: 0;
}

#post_message::-ms-input-placeholder {
    color: white;
}

.loader {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


.remove-dropdown-icon.dropdown-toggle::after {
    display: none;
}