{% extends "friendlify/base.html" %}
{% load static %}
{% load icon %}
{% load form_tags %}


{% block content %}
    <main class="container d-flex justify-content-center py-5">
        <div class="d-flex flex-column w-max-content px-4 py-4-5 bg-light rounded">
            <div class="d-flex flex-row align-items-center mb-4-5">
                <ul class="nav">
                    <li class="nav-item rounded">
                        <a
                            href="{% url "users.show" request.user.username %}"
                            class="nav-link me-2 p-1 text-dark rounded"
                        >{% icon "chevron-left" %}</a>
                    </li>
                </ul>

                <h1 class="h4 fw-normal fw-bold m-0">Edit your profile</h1>
            </div>

            <form
                action="{% url "users.edit" request.user.username %}"
                method="POST"
                enctype="multipart/form-data"
            >
                {% csrf_token %}

                <div class="row mb-5">
                    <div class="col">
                        <div class="user-profile-avatar__wrapper d-flex flex-row">
                            {% include "accounts/components/user-profile-avatar.html" with user=user width="96" height="96" %}

                            <div class="user-profile-avatar__content d-flex flex-column justify-content-center ms-4">
                                <label
                                    for="{{ form.avatar.id_for_label }}"
                                    class="form-label"
                                >JPG or PNG. Max size of 800K</label>

                                <input
                                    type="file"
                                    accept="image/jpeg, image/png"
                                    name="{{ form.avatar.name }}"
                                    id="{{ form.avatar.id_for_label }}"
                                    class="form-control"
                                />

                                <div class="form-check mt-3">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="delete_avatar"
                                        id="delete_avatar"
                                    >

                                    <label
                                        class="form-check-label"
                                        for="delete_avatar"
                                    >Remove avatar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h5 class="mb-4">Personal information</h5>

                    <div class="col mb-4">
                        <label for="{{ form.first_name.id_for_label }}" class="mb-2">First Name</label>
                        {{ form.first_name|add_validation_class:"is-invalid,is-valid" }}

                        {% for error in form.first_name.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="col mb-4">
                        <label for="{{ form.last_name.id_for_label }}" class="mb-2">Last Name</label>
                        {{ form.last_name|add_validation_class:"is-invalid,is-valid" }}

                        {% for error in form.last_name.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col mb-4">
                        <label for="{{ form.username.id_for_label }}" class="mb-2">Username</label>
                        {{ form.username|add_validation_class:"is-invalid,is-valid" }}

                        {% for error in form.username.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="col mb-4">
                        <label for="{{ form.email.id_for_label }}" class="mb-2">Email</label>
                        {{ form.email|add_validation_class:"is-invalid,is-valid" }}

                        {% for error in form.email.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row mb-5">
                    <h5 class="mb-4">Security section</h5>

                    <div class="row">
                        <div class="col">
                            <label
                                    for="{{ form.current_password.id_for_label }}"
                                    class="mb-2"
                            >Current Password</label>

                            {{ form.current_password|add_validation_class:"is-invalid,is-valid" }}

                            {% for error in form.current_password.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col mt-4">
                        <label for="{{ form.new_password1.id_for_label }}" class="mb-2">New Password</label>
                        {{ form.new_password1|add_validation_class:"is-invalid,is-valid" }}

                        {% for error in form.new_password1.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="col mt-4">
                        <label for="{{ form.new_password2.id_for_label }}" class="mb-2">Confirm New
                            Password</label>
                        {{ form.new_password2|add_validation_class:"is-invalid,is-valid" }}

                        {% for error in form.new_password2.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row mb-5">
                    <h5 class="mb-4 text-danger">Danger area</h5>

                    <div class="col">
                        <a
                            href="#"
                            class="text-black"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteUser"
                        >Delete account</a>
                    </div>
                    <div class="col"></div>
                </div>

                <div class="row">
                    <div class="col"></div>
                    <div class="col d-flex flex-row">
                        <button type="submit" class="btn btn-dark w-100">Update</button>

                        <a
                            href="{% url "users.show" user.username %}"
                            class="d-flex justify-content-center align-items-center btn btn-outline-dark w-100 py-1 px-2 ms-3"
                            data-bs-toggle="modal"
                        >Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </main>

    {# #TODO : make modal changing dynamically with js #}
    <div
            class="modal fade position-fixed"
            id="deleteUser"
            tabindex="-1"
            aria-labelledby="deleteUserLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserLabel">Deleting Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body m-0">
                    <p>Deleting your account <b>will remove all of your information</b> from our service.</p>
                    <b>This cannot be undone. Do you really want to do it?</b>
                </div>
                <div class="modal-footer">
                    <form action="{% url "users.destroy" %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}