{% load icon %}

{% if id %}
    <a class="d-inline-flex {{ class }}" href="{% url action_url id %}" role="button">
{% else %}
    <a class="d-inline-flex {{ class }}" href="{% url action_url %}" role="button">
{% endif %}
    {% if icon and before|default:"True" == "True" %}
        <span class="d-flex flex-row align-self-center pe-1">
        {% icon icon height=icon_size|default:"24" width=icon_size|default:"24" %}
    </span>
    {% endif %}

    <span>{{ value }}</span>

    {% if icon and not before|default:"True" == "True" %}
        <span class="d-flex flex-row align-self-center ps-1">
        {% icon icon height=icon_size|default:"24" width=icon_size|default:"24" %}
    </span>
    {% endif %}
</a>
