<div class="user-avatar bg-white border rounded-5">
    {% if avatar %}
        <img
            src="https://github.com/maxbratuta.png"
            alt="mdo"
            width="26"
            height="26"
            class="rounded-circle"
        />
    {% else %}
        <div
            class="d-flex justify-content-center align-items-center m-1 bg-dark rounded-5"
            style="width: 26px; height: 26px;"
        >
            <span class="text-light fs-8">{{ initials }}</span>
        </div>
    {% endif %}
</div>