{% extends "friendlify/base.html" %}
{% load static %}

{% block content %}
    <main class="container my-5">
        <div class="row gx-3 gy-3">
            <div class="col col-lg-7 col-md-7 col-sm-12 col-12 order-lg-1 order-md-1 order-sm-2 order-2">
                <div class="p-4 bg-light rounded">
                    <div class="gallery__wrapper">
                        <div class="gallery__header d-flex flex-row justify-content-between mb-4">
                            <h2 class="title h4 m-0">Gallery</h2>
                            <div class="filter">
                                {% include "friendlify/components/elements/link.html" with value="Everyone" action_url="gallery" class="btn btn-light border rounded-5" icon="chevron-down" icon_size="18" before="False" %}
                            </div>
                            <div class="actions">
                                {% include "friendlify/components/elements/link.html" with value="Add post" action_url="gallery" class="btn btn-dark" icon="plus" icon_size="18" %}
                            </div>
                        </div>

                        <div class="gallery__content">
                            <div class="posts overflow-scroll mh-512">
                                <div class="grid text-center">
                                    <div class="post-content overflow-hidden ratio ratio-1x1 image-grid-container">
                                        {% for post in posts %}
                                            <div class="content-container position-relative w-100 h-100">
                                                <a
                                                    href="#"
                                                    class="link-block"
                                                >
                                                    <img
                                                        class="w-100 h-100 object-fit-contain rounded-3 hoverable-block"
                                                        src="{{ post.image_url }}"
                                                        alt="{{ post.user.full_name }}"
                                                    />
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-5 col-md-5 col-sm-12 col-12 order-lg-2 order-md-2 order-sm-1 order-1">
                <div class="p-4 bg-light rounded">
                    {% include "conversations/components/messages.html" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}